.profile_main{
    width: 90%;
    margin: 20px auto;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Media */
/* Small Screens */
@media screen and (min-width:320px) and (max-width:767px){
   .profile_main{
    flex-direction: column;
   }
}

/* Medium Screens */
@media screen and (min-width:768px) and (max-width:1024px){
    
}